@model MVCapp.BLL.Dtos.Res.ProductDto

<h2>Update Product</h2>
<form asp-action="Edit" method="post">
    @Html.AntiForgeryToken()
    <input type="hidden" asp-for="Id" />
    <p>
        <label for="name">Name:</label><br />
        <input id="name" asp-for=" Name" /><br />
        <span asp-validation-for="Name"></span>
    </p>
    <p>
        <label for="category">Category:</label><br />
        <input id="category" asp-for="Category" /><br />
        <span asp-validation-for="Category"></span>
    </p>
    <p>
        <label for="price">Price:</label><br />
        <input id="price" asp-for="Price" /><br />
        <span asp-validation-for="Price"></span>
    </p>
    <p>
        <label for="qty">Quantity:</label><br />
        <input id="qty"" asp-for=" Quantity" /><br />
        <span asp-validation-for="Quantity"></span>
    </p>
    <button type="submit">Save</button>
    <a asp-action="Index">Back</a>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}