@model MVCapp.BLL.Dtos.Req.ProductUpdateDto

<h2>Update Product</h2>
<form asp-action="Edit" method="post">
    @Html.AntiForgeryToken()
    <input type="hidden" asp-for="Id" />
    <p>
        <label>Name:</label><br />
        <input asp-for="Name" /><br />
        <span asp-validation-for="Name"></span>
    </p>
    <p>
        <label>Category:</label><br />
        <input asp-for="Category" /><br />
        <span asp-validation-for="Category"></span>
    </p>
    <p>
        <label>Price:</label><br />
        <input asp-for="Price" /><br />
        <span asp-validation-for="Price"></span>
    </p>
    <p>
        <label>Quantity:</label><br />
        <input asp-for="Quantity" /><br />
        <span asp-validation-for="Quantity"></span>
    </p>
    <button type="submit">Save</button>
    <a asp-action="Index">Back</a>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}