@model MVCapp.PL.Models.ProductViewModel

@{
    ViewData["Title"] = "Product Page";
}

<h1 class="h1">Total Products : @Model.TotalQty</h1>
<br />
<a class="btn btn-primary" asp-action="Create">Create</a>
<br />
<br />

<div class="container gap-3">

    @{
        foreach (var product in Model.Products)
        {
            <div class="m-2">

            @Html.Partial("_ProductCard", product)
            </div>
        }
    }
</div>